.leaderboard
  .table.table-striped
    %table
      %th
        Leaderboard
        %tr
          %th 
          %th User
          %th Points
      - @users.each_with_index do |user, i|
        %tbody
          %tr
            %td= i + 1
            %td= user.name
            %td= user.total_points