%h3 Your results
- if @results.empty? 
  You currently have no results.
- else
  .result
    %table
      %tr
        %th Date
        %th Home
        %th 
        %th Away
        %th 
        %th 1st Goalscorer (Predicted)
        %th Score
        %th 
        %th 1st Goalscorer (Real)
        %th Points
      = render "result"