.weeks_predictions
  .table.table-striped.col-lg-8
    %table
      %th
        %tr
          %th Date and Time
          %th Home
          %th Score
          %th 
          %th
          %th Away
          %th 1st Goalscorer
          %th 
      %tbody
        = render @predictions


          