// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.intro {
  color: white;
}

.sign-up {
  color: white;
}

.sign-up a {
  color: white;
}

.row2 {

}


